<div id="top">
  <div id="banner-info" class="height-all-screen position-relative d-flex align-items-center justify-content-center display-banner-info">
    <div id="typed-strings" class="font-weight-bold text-center">
      <p>Bonjour <br>Je m'appelle Paul</br>Je suis développeur web fullstack!<br>Faisons connaisance...</br></p>
    </div>
    <h2 id="typed" class="font-weight-bold text-center"></h2>

    <span class="element"></span>




    <div class="d-none d-sm-block scroll">
      <div class="scroll-icon position-relative">
        <div class="scroll-icon-dot"></div>
      </div>
    </div>
  </div>
</div>
