<div id="top">
  <div id="banner-info" class="height-all-screen position-relative d-flex align-items-center justify-content-center display-banner-info">

    <h2 id="typed" class="font-weight-bold text-center"></h2>
    <div class="d-none d-sm-block scroll">
      <div class="scroll-icon position-relative">
        <div class="scroll-icon-dot"></div>
      </div>
    </div>
  </div>
</div>
