<div class="flip">
  <div class="front" style="background-image: url(<%= url %>)">
     <h1 class="text-shadow"><%= title %></h1>
  </div>
  <div class="back">
     <h2>Ruby</h2>
     <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
  </div>
</div>
